/* Import fonts from google font / Importer des polices google fonts
As fonts we have / Comme polices nous avons :
    *Poping: regulier 400, moyen 500, semi-gras 600, gras 700
    *Ubuntu: regulier 400, moyen gras 500, gras 700 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');


/*General style / Style general*/          
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    display: flex;
    background: url("../img/background.png") no-repeat center;
    height: 100vh;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}

a{
    font-size: 15px;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    text-align: left;
}

/*Login / Connexion*/
.log-box-c{
	width: 400px;
	height: 450px;
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	padding: 70px 30px;
}
.log-box-r{
	width: 400px;
	height: 500px;
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	padding: 70px 30px;
}


    /*avatar*/
    .avatar{
        width: 300px;
        height: auto;
        /* border-radius: 50%; */
        position: absolute;
        top: -40px;
        left: calc(50% - 150px);
    }


    /*Title: connection / Titre : connexion */
    .login-box h1{
        margin: 0;
        padding: 0 0 20px;
        text-align: center;
        font-size: 30px;
        margin-bottom: 1rem;
    }


    /*Form / Formulaire*/
    .login-box input{
        width: 100%;
        margin-bottom: 20px;
    }

        /*Username and password input field / Champ de saisie du nom d'utilisateur et du mot de passe*/
        .login-box input[type="text"], input[type="password"]{
            border: none;
            border-bottom: 1px solid #fff;
            background: transparent;
            outline: none;
            height: 40px;
            color: #fff;
            font-size: 25px;
        }

        /*Validate button / Bouton valider*/
        .login-box input[type="submit"]{
            border: none;
            outline: none;
            height: 40px;
            background: #1c8adb;
            color: #fff;
            font-size: 25px;
            border-radius: 20px;
            margin-top: 2rem;
        }

            /*When the mouse hovers over the validate button / Au survole de la souris sur le bouton valider*/
            .login-box input[type="submit"]:hover{
                cursor: pointer;
                background: #39dc79;
                color: #000;
            }

        /*Cancel button / Bouton annuler*/
        .login-box input[type="reset"]{
            border: none;
            outline: none;
            height: 40px;
            background: red;
            color: #fff;
            font-size: 25px;
            border-radius: 20px;
        }

            /*When the mouse hovers over the cancel button / Au survole de la souris sur le bouton annuler*/
            .login-box input[type="reset"]:hover{
                cursor: pointer;
                background: #39dc79;
                color: #000;
            }
